<!DOCTYPE html>
<html>
<head>
<title><%- title %></title>
<link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
<h1><%- title %></h1>
<p>Welcome to <%- title %></p>

<button id='mq_test'>MqTest</button>

<button id='db_test'>MongodbTest</button>

<button id='websocket_test'>WebsocketTest</button>

<button id='redis_test'>RedisTest</button>

<button id='data_access_test'>DataAccessTest</button>

<button id='gomoku_test'>GomokuTest</button>

<p id="result"></p>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/socket.io-client/socket.io.js"></script>
<script src="javascripts/cloudamqp-test.js"></script>

</body>
</html>
